:root {
  --p-color: #7c4bac;
  --s-color: #02c55c;
  --bs-heading-color: #0f0e0e;
  --bs-primary-rgb: 124, 75, 172;
  --p-color-06: rgba(124, 75, 172, 0.06);
  --p-color-10: rgba(124, 75, 172, 0.1);
  --s-color-60: rgba(2, 197, 92, 0.06);
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Regular.woff2") format("woff2"),
    url("../fonts/GeneralSans-Regular.woff") format("woff"),
    url("../fonts/GeneralSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Medium.woff2") format("woff2"),
    url("../fonts/GeneralSans-Medium.woff") format("woff"),
    url("../fonts/GeneralSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "General Sans";
  src: url("../fonts/GeneralSans-Semibold.woff2") format("woff2"),
    url("../fonts/GeneralSans-Semibold.woff") format("woff"),
    url("../fonts/GeneralSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cal Sans";
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"),
    url("../fonts/CalSans-SemiBold.woff") format("woff"),
    url("../fonts/CalSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.dropdown-toggle::after {
  border-top-color: var(--p-color);
  border-radius: 100px;
}
body {
  font-family: "General Sans";
  font-weight: 400;
  color: #706c6c;
}

.btn-primary {
  --bs-btn-bg: #7c4bac;
  --bs-btn-border-color: #7c4bac;
  --bs-btn-hover-bg: #5d3a8d;
  --bs-btn-hover-border-color: #7c4bac;
  --bs-btn-active-bg: #7c4bac;
  --bs-btn-active-border-color: #5d3a8d;
  --bs-btn-disabled-bg: #7c4bac;
  --bs-btn-disabled-border-color: #7c4bac;
}
.btn-secondary {
  --bs-btn-bg: var(--s-color);
  --bs-btn-border-color: var(--s-color);
  --bs-btn-hover-bg: #009f49;
  --bs-btn-hover-border-color: #009f49;
  --bs-btn-active-bg: #009f49;
  --bs-btn-active-border-color: #009f49;
  --bs-btn-disabled-bg: var(--s-color);
  --bs-btn-disabled-border-color: var(--s-color);
}
.btn-outline-primary {
  --bs-btn-color: #0f0e0e;
  --bs-btn-border-color: #7c4bac;

  --bs-btn-hover-bg: #7c4bac;
  --bs-btn-hover-border-color: #7c4bac;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;

  --bs-btn-active-bg: #7c4bac;
  --bs-btn-active-border-color: #7c4bac;

  --bs-btn-disabled-color: #7c4bac;

  --bs-btn-disabled-border-color: #7c4bac;
}
.btn {
  --bs-btn-padding-x: 1.5rem;
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-font-weight: 500;
  text-transform: uppercase;
}
.btn-sm {
  --bs-btn-padding-y: 0.25rem!important;
  --bs-btn-padding-x: 0.5rem!important;
  --bs-btn-font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cal Sans";
  font-weight: 600;
}
h5 {
  font-size: 20px;
}
.p-color {
  color: var(--p-color);
}
header {
}

header .navbar {
}

header .navbar .navbar-brand {
  max-width: 45px;
}
header .navbar .navbar-nav .nav-link {
  color: #0f0e0e;
}
header .navbar .navbar-nav .nav-link:hover {
  -webkit-text-stroke: 1px var(--bs-heading-color);
}
header .navbar .navbar-toggler {
  border: 0;
}

.form-control:focus,
.btn:focus {
  box-shadow: none !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.s-color {
  color: var(--s-color);
}

.v-hero-left {
  position: relative;
}
.v-hero-left:before {
  position: absolute;
  content: "";
  filter: blur(125px);
  border-radius: 610px;
  background-color: #e8e5f7;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.sub-text {
  font-size: 12px;
  color: #0f0e0e;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  display: inline-block;
}

.v-hero-title {
}

.v-hero p {
  color: #706c6c;
}

.sub-text:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 4px;
  background-color: var(--p-color);
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.v-hero-left .btn i {
  font-size: 21px;
  line-height: 0;
}

/* v-dev-advantage */

h2 {
  margin-bottom: 12px;
}
.v-dev-advantage {
  margin-bottom: 25px;
}
.v-dev-advantage h5 {
  margin-bottom: 24px;
}

.v-dev-advantage a {
  border: 1px solid var(--s-color);
  padding: 13px 30px;
  border-radius: 100vmax;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #000;
  transition: color 0.2s ease;
}
.v-dev-advantage a:hover {
  color: var(--s-color);
}
.accordion-button:not(.collapsed) {
  background: transparent;
  box-shadow: none;
  color: #0f0e0e;
}

.accordion-button {
  font-size: 14px;
  color: #0f0e0e;
  padding-top: 20px;
  padding-bottom: 15px;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2302C55C'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-transition: transform 0.3s ease-in-out;
}

.accordion-button:not(.collapsed)::after {
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2302C55C'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-body {
  padding-top: 0;
  font-size: 14px;
}
.accordion-item {
  color: inherit;
  margin-bottom: 10px;
  border: 1px solid #e8e5f7 !important;
  border-radius: 10px;
  overflow: hidden;
}

.single-block:hover,.card-hover:hover {
  background-color: #fafafd;
}
.s-31 {
  width: 31px;
  height: 31px;
}
.s-50 {
  width: 50px;
  height: 50px;
}
.icons {
  background-color: #e8e5f7;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.single-block p {
  font-size: 13px;
  line-height: 1.8;
  margin-bottom: 0;
}

.bioinforatics {
  background-color: #e8e5f7;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 7px;
}
.v-bioinforaticsOpen-soruce h2 {
  color: var(--p-color);
  margin-bottom: 15px;
}



.no-pipeline-block {
  background-color: #fff;
  border: 1px solid #e8e5f7;
  padding: 50px 12px 12px;
  border-radius: 24px;
  position: relative;
  margin-top: 50px;
}

.no-pipeline-block h4 {
  color: var(--p-color);
  margin-bottom: 15px;
}

.no-pipeline-block ul li {
  position: relative;
  padding-left: 27px;
  font-size: 12px;
  /* font-weight: 500; */
  margin-bottom: 16px;
  /* line-height: 21px; */
}

.no-pipeline-block ul li:before {
  position: absolute;
  content: "";
  left: 0;
  background-image: url(../images/icons/right.svg);
  width: 16px;
  height: 16px;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
}

.no-pipeline-block .top-icon {
  /* background-color: var(--p-color); */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -23px;
  border-radius: 100vmax;
  /* padding: 9px; */
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-pipeline-block .top-icon img {
  max-width: 100%;
}

.no-pipeline-block .half-circle {
  position: absolute;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  border: 1px solid #e8e5f7;
  width: 80px;
  height: 40px;
  top: -1px;
  /* z-index: -1; */
  border-top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  /* overflow: hidden; */
}

.v-unlock-nopipeliine .footer-text {
  margin-top: 1.5rem;
}

.single-testimonial-block {
  font-size: 14px;
}
.single-testimonial-block blockquote {
  width: 95%;
  margin: 0 auto;
}
blockquote {
  position: relative;
}

blockquote:before {
  content: open-quote;
  font-size: 55px;
  color: var(--s-color);
  position: absolute;
  left: 0;
  top: 8px;
  line-height: 0;
}
blockquote:after {
  content: close-quote;
  display: none;
}
.v-download-whitepaper {
  background-color: #f0fbf5;
  padding: 3rem 0;
}

.v-download-whitepaper p {
  /* font-weight: 500; */
}


.elevate-dataworkflows.text-center {
}
.elevate-dataworkflows-inner {
  padding: 2rem;
}
.elevate-dataworkflows h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

.elevate-dataworkflows p {
  line-height: 1.3;
}
.elevate-dataworkflows p:nth-of-type(1) {
  font-size: 20px;
  font-weight: 500;
}

.elevate-dataworkflows p.text-color-gray {
  font-size: 18px;
  color: #cecece;
}

.btn.book-meeting {
  margin-bottom: -58px;
  padding: 18px 30px;
}

footer {
  background-color: #0f0e0e;
}

img.footer-logo.img-fluid {
  margin-top: 15px;
  width: 90px;
  margin-bottom: 35px;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 0;
  display: block;
}
footer ul li a:hover {
  -webkit-text-stroke: 1px #fff;
}

@media (max-width: 991.98px) {
  #quarto-content > * {
    padding-top: 0;
  }
}

.quarto-layout-cell {
  position: relative; /* margin-right:20px; */
}
.quarto-layout-cell > p {
  margin: 0.2em;
}
.quarto-layout-cell img {
  max-width: 100%;
}
.page-columns > * {
  grid-column: body-content-start/body-content-end;
}
.page-columns .footer {
  grid-column: screen-start/screen-end;
  grid-row: contents-bottom/page-bottom;
}
.page-columns .column-screen {
  grid-column: screen-start/screen-end;
  z-index: 998;
  transform: translate3d(0, 0, 0);
}
@media print {
  .page-columns .column-screen {
    grid-column: page-start/page-end;
    z-index: 998;
    transform: translate3d(0, 0, 0);
  }
}

.di-background {
  position: relative;
  min-height: 100px;
  margin: 0;
  background-image: url("https://nopipeline--data-intuitive.netlify.app/images/outline_d.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  height: 274px;
}
@media (max-width: 767.98px) {
  .di-background {
    display: none;
  }
}

#quarto-content > * {
  padding-top: 0rem;
}
#quarto-content > .column-screen {
  padding-top: 0;
}
.quarto-layout-cell > p {
  margin: 0em;
}

.column-screen {
  background-color: #2c3242;
}
.footer {
  color: #fff;
  padding: 3rem 3rem 2rem 3rem;
  font-size: smaller;
  text-decoration: none;

  flex-shrink: 0;
}
@media (min-width: 768px) {
  .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 7rem 0 0;
    margin: 0 auto;
    max-width: 1300px;
  }
}
@media (max-width: 767.98px) {
  .footer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
    text-align: center;
  }
}
.footer img {
  margin: auto;
}
.di-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: row;
}
@media (min-width: 768px) {
  .di-grid {
    gap: 2rem;
  }
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer #links a {
  display: block;
  margin: 10px 0;
}
footer img {
  padding-bottom: 0.5rem;
}
@media (min-width: 767px) {
  footer .di-grid {
    grid-template-columns: auto 1fr 4fr auto;
    grid-auto-flow: column;
    gap: 3rem;
  }
  .quarto-layout-cell {
    margin-right: 0;
  }
}

#follow-us {
  /* position:fixed; */
  bottom: 15%;
  right: 1vw;
  z-index: 20;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: transparant;
  max-width: 400px;
  justify-content: center;
  padding: 22px;
  border-top-left-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  border-top-right-radius: 30px;
}
#follow-us svg {
  width: 30px;
  height: auto;
  color: var(--p-color);
}

@media (max-width: 767.98px) {
  #follow-us svg {
    width: 20px;
    height: auto;
    color: #fff;
  }
  #follow-us {
    flex-direction: row; /* position:fixed; */
    bottom: 0;

    right: 0;
    z-index: 20;
    gap: 13px;
    max-width: 400px;
    padding: 18px;
  }
}

ul.social-block {
}

ul.social-block li {
}

ul.social-block li a {
  background-color: #2c2b2b;
  color: #fff;
  border-radius: 100vmax;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}
ul.social-block li a:hover {
  background-color: var(--p-color);
}
.copyright-box {
  background-color: #1d1c1c;
  margin: 0 -12px;
  padding: 17px;
}

.copyright-box p {
  margin: 0;
}

.copyright-box a {
  text-decoration: none;
  color: var(--p-color);
}
.copyright-box a:hover {
  text-decoration: underline;
  color: #fff;
}
.max-w405 {
  max-width: 405px;
}

.floating-div {
  position: absolute;
  bottom: 35px;
  left: -70px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 18px;
  border: 1px solid var(--White, #fff);
  background: rgba(255, 255, 255, 0.5);
  box-shadow: -12px -12px 60px 0px rgba(119, 118, 156, 0.12);
  backdrop-filter: blur(9px);
  padding: 10px 20px;
  line-height: 1.2;
  text-align: center;
}

.floating-div img {
  width: 54px;
}
.floating-div span {
  color: #0f0e0e;
}
.v-hero-right {
  position: relative;
}

.quarto-iframe {
  width: 100%;
  overflow-y: hidden;
}
/* ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
} */
.shadow-long {
  box-shadow: 8px 8px 120px 0px rgba(0, 0, 0, 0.06);
}
.v-hero-img {
  border-radius: 12px;
}
.viash-with-text {
  width: 24px;
}

.nextflow-with-text {
  width: 120px;
}
.bg-primary-60{
  background-color: var(--s-color-60);
}


.img-container {
  display: none;
}
.p-color-06 {
  background-color: var(--p-color-06);
}
.p-color-10 {
  background-color: var(--p-color-10);
}

.circlenormal {
  background-image: url(../images/circlemobilel.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 820px;
  padding: 28px 0;
  position: relative;
}

.top.circlenormal-text {}

.circlenormal-text p {
    font-size: 10px;
    margin-bottom: 0;
    color: #000;
}

.bottom-left.circlenormal-text {
    position: absolute;
    bottom: 5%;
    left: 50%;
    max-width: 135px;
    transform: translateX(-50%);
    margin-left: -87px;
}

.circlenormal-text {
    /* padding: 0 50px; */
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
}

.bottom-right.circlenormal-text {
    position: absolute;
    bottom: 5%;
    right: 50%;
    max-width: 135px;
    transform: translateX(50%);
    margin-right: -86px;
}
.nopipeline-quote {
  font-size: 12px;
  margin-top: 20px;
}
.nopipeline-quote blockquote {
  margin-bottom: 10px;
}


.check-list-style {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.check-list-style li {
  position: relative;
  padding-left: 27px;
  font-size: 12px;
  line-height: 21px;
}

.check-list-style li:before {
  position: absolute;
  content: "";
  left: 0;
  background-image: url(../images/icons/right.svg);
  width: 16px;
  height: 16px;
  background-size: cover;
  top: 5px;
  /* transform: translateY(-50%); */
}

.check-list-style li:not(:last-child) {
  margin-bottom: 10px;
}

.client-ref-carousel .swiper-wrapper {
  align-items: center;
}
.icons-green {
  background-color: #02C55C;
}
.toggle-icon {
  color: var(--p-color);
}



@media (max-width: 480px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl,
  .row {
    --bs-gutter-x: 2.5rem;
  }
  .row.g-2,
  .row.gx-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-3, .gx-3 {
    --bs-gutter-x: 1rem;
}
  .copyright-box {
    margin: 0 -20px;
  }
  .btn.btn-outline-primary {
    --bs-btn-padding-y: 0.55rem;
  }
}
@media (max-width: 767.98px) {
  .border-mobile-0 {
    border: 0!important;
}
} 
@media (min-width: 768px) {
  .no-pipeline-holder {
    position: relative;
  }

  .no-pipeline-block {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .bg-shadow {
    position: absolute;
    content: "";
    filter: blur(125px);
    border-radius: 610px;
    background-color: #d7d0fb;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  .no-pipeline-block:before,
  .no-pipeline-block:after {
    position: absolute;
    content: "";
    background: #e5dbee;
    width: 45px;
    height: 45px;
    top: -24px;
    border-radius: 100vmax;
  }

  .no-pipeline-block:after {
    right: -14.5%;
  }

  .no-pipeline-block:before {
    left: -14.5%;
  }
  .no-pipeline-holder:before,
  .no-pipeline-holder:after {
    position: absolute;
    content: "";
    height: 65%;
  }
  .no-pipeline-holder:before {
    left: 7%;
    border-left: 1px solid #e5dbee;
  }
  .no-pipeline-holder:after {
    right: 7%;
    border-right: 1px solid #e5dbee;
  }
  .circlenormal{
    background-image: url(../images/circlenormal.svg);
    height: 670px;
  }
  .circlenormal-text {

    max-width: 244px;

}
.bottom-left.circlenormal-text {

  max-width: 270px;

  margin-left: -11rem;
}
.bottom-right.circlenormal-text {

  max-width: 270px;

  margin-right: -11rem;
}
.floating-img {
  top: 50%;
}

.floating-img img {
  width: 50px;
}
}

@media (min-width: 992px) {
  .v-dev-advantage {
    background: #fff;
    text-align: left;
    padding: 0;
  }

  .v-dev-advantage a {
    padding: 6px 15px;

    color: #0f0e0e;
  }
  .accordion-button {
    font-size: 16px;
  }
  .no-pipeline-block {
    padding: 30px;
  }
  .no-pipeline-block:before {
    left: -16.8%;
  }
  .no-pipeline-block:after {
    right: -16.8%;
  }
  .elevate-dataworkflows h2 {
    font-size: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .elevate-dataworkflows-inner {
    padding: 3rem 3rem 4rem;
  }
  .btn.book-meeting {
    margin-bottom: -134px;
  }
  .logo-wratermark {
    position: absolute;
    z-index: -1;
    max-width: 250px;
    pointer-events: none;
    margin-top: -10%;
  }
  .circlenormal {

    height: 873px;
}
.floating-img img {
  width: 75px;
}
.circlenormal-text {
  max-width: 375px;
}
.circlenormal-text p {
  font-size: 12px;
  margin-bottom: 0;
  color: #000;
}
.bottom-left.circlenormal-text {
  max-width: 380px;
  margin-left: -15rem;
}
.bottom-right.circlenormal-text {
  max-width: 380px;
  margin-right: -15rem;
}

.dashed-line {
  position: absolute;
  content: "";
  /* width: 50%; */
  border-bottom: 2px dashed #7C4BAC;
  /* right: 0; */
  z-index: -1;
  top: 25px;
}
.dashed-line.right {
  right: 0;
}
.dashed-line.left {
  left: 0;
}
.dashed-line.half {
  width: 50%;
}

.dashed-line.full {
  width: 100%;
  left: 0;
  right: 0;
}
.dashed-vertical {
  position: absolute;
  height: calc(100% + 25px);
  border-right: 2px dashed;
  right: 0;
  top: 25px;
  z-index: -1;
}

}

@media (min-width: 1200px) {
  h5 {
    font-size: 24px;
  }
  header .navbar .container {
    border: 1px solid #e8e5f7;
    border-radius: 100vmax;
    padding: 10px 35px;
  }
  header .navbar .navbar-brand {
    max-width: 98px;
  }
  header .navbar .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
  }
  .sub-text {
    font-size: 18px;
    padding-left: 63px;
    margin-bottom: 20px;
  }
  .v-hero-title {
    font-size: 56px;
    margin-bottom: 18px;
  }
  .sub-text:before {
    width: 50px;
  }
  .v-hero-left .btn {
    padding: 19px 40px;
  }
  .v-hero p {
    margin-bottom: 30px;
  }

  .v-dev-advantage a {
    padding: 12px 22px;
  }

  .v-dev-advantage {
    margin-bottom: 32px;
  }

  .single-block {
    padding: 40px 23px;
  }
  .single-block h6 {
    margin-bottom: 16px;
  }

  .single-block p {
    line-height: 28px;
    font-size: 18px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 40px;
  }
  h6 {
    font-size: 20px;
  }

  .v-bioinforaticsOpen-soruce h2 {
    margin-bottom: 40px;
  }

  .no-pipeline-block .top-icon {
    top: -37px;
    padding: 9px;
    width: 64px;
    height: 64px;
  }

  .no-pipeline-block .half-circle {
    width: 90px;
    height: 45px;
  }
  .no-pipeline-block {
    padding: 50px 30px;
  }
  .no-pipeline-block h4 {
    margin-bottom: 30px;
    font-size: 40px;
  }
  .no-pipeline-block ul li {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .no-pipeline-block:before,
  .no-pipeline-block:after {
    width: 64px;
    height: 64px;
  }

  .no-pipeline-block {
    margin-bottom: 60px;
  }
  .v-unlock-nopipeliine .footer-text {
    margin-top: 0;
  }
  .single-testimonial-block {
    font-size: 20px;
  }

  .v-download-whitepaper {
    padding: 8rem 0;
  }
  .v-download-whitepaper p {
    /* margin-bottom: 30px; */
  }
  .btn {
    --bs-btn-padding-x: 2rem;
    --bs-btn-padding-y: 0.9rem;
  }
  .elevate-dataworkflows h2 {
    font-size: 56px;
    line-height: 1.3;
  }
  .elevate-dataworkflows p:nth-of-type(1) {
    margin-bottom: 24px;
  }
  .elevate-dataworkflows p.text-color-gray {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
  .btn.book-meeting {
    padding: 25px 50px;
    margin-bottom: -198px;
  }
  .elevate-dataworkflows-inner {
    padding-bottom: 6rem;
  }
  footer p {
    font-size: 18px;
  }
  ul.social-block li a {
    width: 64px;
    height: 64px;
  }
  .accordion-item {
    margin-bottom: 24px;
  }
  .accordion-button {
    padding-top: 23px;
    padding-bottom: 18px;
  }
  .floating-div {
    left: -90px;
    padding: 18px 25px;
  }
  .s-xl-2x31 {
    width: 62px;
    height: 62px;
  }
  .s-xl-2x50 {
    width: 95px;
    height: 95px;
  }
  blockquote:before {
    font-size: 75px;
    left: 0;
    top: 17px;
    margin-left: -32px;
  }
  footer {
    margin-top: -40px;
  }
  .btn-sm {
    --bs-btn-font-size: 1rem
  }
  .viash-with-text {
    width: 35px;
}
.nextflow-with-text {
  width: 189px;
}
.accordion-button {
  font-size: 20px;
}
.logo-wratermark {

max-width: 100%;

margin-top: -16%;

margin-left: -5%;
}
.circlenormal {
  height: 1030px;
}

.top.circlenormal-text {
  padding-top: 3%;
  max-width: 485px;
}
.bottom-left.circlenormal-text {
  max-width: 440px;
  margin-left: -18rem;
}
.bottom-right.circlenormal-text {
  max-width: 440px;
  margin-right: -18rem;
}
.circlenormal-text p {
  font-size: 14px;

}
.nopipeline-quote {
  font-size: 16px;
  padding: 0 10%;
}


.dashed-vertical,.dashed-line {

  top: 48px;

}
.approach-holder p {
  max-width: 356px;
  margin-left: auto;
  margin-right: auto;
}












}

@media (min-width: 1400px) {
  .no-pipeline-block:before {
    left: -14.5%;
  }
  .no-pipeline-block:after {
    right: -14.5%;
  }
  p {

    margin-bottom: 1.5rem;
    font-size: 18px;
}
.circlenormal {
  height: 1185px;
}
.circlenormal-text p {
  font-size: 18px;
}
.top.circlenormal-text {
  padding-top: 1%;
  max-width: 552px;
}
.bottom-left.circlenormal-text {
  max-width: 525px;
  margin-left: -20rem;
  bottom: 3%;
}
.bottom-right.circlenormal-text {
  max-width: 525px;
  margin-right: -20rem;
  bottom: 3%;
}

.floating-img img {
  width: 95px;
}

.no-pipeline-holder:before, .no-pipeline-holder:after {

  height: 68%;
}

.no-pipeline-block .top-icon {

  width: 77px;

}
.no-pipeline-block ul li:before {

  width: 18px;
  height: 18px;

}
}

@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1520px;
  }
  .no-pipeline-block:before {
    left: -13.5%;
  }
  .no-pipeline-block:after {
    right: -13.5%;
  }
  .circlenormal {
    height: 1370px;
}
.top.circlenormal-text {
  padding-top: 3%;
  max-width: 630px;
}
.bottom-left.circlenormal-text {
  max-width: 640px;
  margin-left: -23rem;
  bottom: 5%;
}
.bottom-right.circlenormal-text {
  max-width: 640px;
  margin-right: -24rem;
  bottom: 5%;
}
.no-pipeline-block ul li {
  font-size: 18px;

}
.nopipeline-quote {
  font-size: 20px;

}
}
