/*Blog things*/


.about-entity .about-link {
    border: solid 2px var(--p-color);
    border-radius: 18px;
    display: block;
    line-height: 18px;
    text-align: center;
    padding-left: 5px;
    background-color: var(white);
    color: var(--p-color);
    margin-bottom: 4px;
    margin-top: 10px;

}

.thumbnail {
    flex-basis: 40%;
    max-width:440px;
    width:400px;
    min-width:340px;
    max-height:200px;

}

#listing-people,
#listing-advisors {
  margin-right: 0;
}

#listing-people .card .listing-title,
#listing-advisors .card .listing-title,
#listing-blog .card .listing-title {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 27px;
    margin-bottom: 15px;
    height: 2.1em;
    color: black;
    
}

.quarto-grid-item .card-text-small {
    font-size: .8em;
    padding-left: 36px; 
    font-weight: 400;
    
  }


#listing-people .card .card-img-top,
#listing-advisors .card .card-img-top {
    position: relative;
    border: none;
    border-radius: 80px;
    max-width:240;
    overflow:hidden;
}
#listing-people .card .card-img-top img,
#listing-advisors .card .card-img-top img {
    max-height: 100%;
    width: auto; 

}

#listing-people .card .listing-title,
#listing-advisors .card .listing-title{
    font-size: 1.2rem;
}

@media(max-width:2200px){
  #listing-people .list,
  #listing-advisors .list {

      grid-template-columns: repeat(5, minmax(0, 1fr));

    }
  }

@media(max-width:1700px){
  #listing-people .list,
  #listing-advisors .list {

      grid-template-columns: repeat(4, minmax(0, 1fr));


  }
  #listing-people .card .listing-title,
  #listing-advisors .card .listing-title{
    font-size: 1.1rem;
  }
}
@media(max-width:1355px){
  #listing-people .list,
  #listing-advisors .list  {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
}
@media(max-width:1024px){
  #listing-people .list,
  #listing-advisors .list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
}

@media(max-width:641px){
    #listing-people .list,
    #listing-advisors .list {
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  }


  @media(max-width:1750px){
    #listing-blog .list   {
      grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  }
  @media(max-width:1600px){
    #listing-blog .list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  }
  
  @media(max-width:980px){
      #listing-blog .list {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    }




/* listing-projects */

.card {
    min-width: auto;
    min-height: auto;
    max-width: inherit;
    max-height: inherit;
    border: 0;  
    padding: 30px;
    background-color: var(white);
    background-clip: border-box;
    border: 1px solid var(--s-color);
    border-radius: 36px;
    word-wrap: break-word;
    position: relative;

}

.card .card-img-top {
    position: relative;
    padding-top: 56.25%;
    border: 0px solid var(--p-color); /* no border around the project image */
    border-radius: 10px;
}

.card .card-img-top .card-img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px; 
    height: 100% !important;
    width:100%;  
    object-fit: contain; 
    object-position: center;
}

.card .listing-title {
    font-weight: 600;
    font-size: 1.5em;
    line-height: 27px;
    margin-bottom: 2em;;
    
}

#listing-courses .quarto-grid-link .listing-title {
  
}

#listing-courses .card .card-body {
  padding: 30px 0 30px;
  
}

#listing-courses .card .card-body .listing-description {
  font-size: 1em;
}

@media(max-width:1450px){
#listing-courses .list{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
}

@media(max-width:1000px){
#listing-courses .list{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
}



#listing-projects .quarto-grid-link:hover .listing-title {
    color:var(--s-color);
    
}

#listing-projects .card .card-body {
    padding: 30px 0 30px;
    
}

#listing-projects .card .card-body .listing-description {
  font-size: 1em;
  color: #706C6C;
}

  #listing-projects .list{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }


@media(max-width:1000px){
  #listing-projects .list{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media(max-width:1220px){
    #listing-careers .list{
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  @media(max-width:780px){
    #listing-careers .list{
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }



/* hack to have a "read more" button: use the author field*/
#listing-projects .listing-author {
  background-color: var(--white);
  color: #0F0E0E;
  border-color: var(--p-color);
  text-align: center;
  margin-left: -40px;
  margin-bottom: -35px;
  margin-top: 15px;
  padding: 14px;
  width: 165px;
  border-radius: 45px;
  border-style: solid;
  border-width: 1px;
  text-transform: none;
  font-size: 18px;
  text-transform: uppercase;
}
#listing-projects .g-col-1 {
  border: 1px solid #E8E5F7;
  border-radius: 30px;
}
#listing-projects .card .card-img-top {
  padding-top: 20.25%;
}
#listing-projects .card .card-img-top .card-img {

  max-width: 200px;
}
#listing-projects .card .listing-title {

  margin-bottom: 0.8em;
}
#listing-courses .listing-author {
  background-color: var(--white);
  color: var(--p-color);
  border-color: var(--p-color);
  text-align: center;
  margin-left:-40px;
  margin-bottom:-35px; 
  margin-top: 15px; 
  padding: 8px;
  width: 140px;
  border-radius: 18px;
  border-style: solid;
  border-width: 1px;
  text-transform: none;
}

/* hack to have a "read more" button: hide author field in the projects detail*/
.quarto-title-meta-heading, .quarto-title-meta-contents {
  visibility: hidden;
  }

#listing-projects .listing-author:hover {
    color: var(--s-color);
}


#insights_ .listing-author {
    background-color: transparent;
    color: var(black);
    border-color: transparent;
    text-align: center;
    margin-top: 15px;
    padding: 8px;
    width: 140px;
    border-radius: 60px;
    text-transform: none;
}

.listing-date, .metadata, div.quarto-post .metadata {
display:none;
}

